transaction-bank/HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### MORE ###
log/
logs/
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
.gitatributes
.gradle
.gradle/
out/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release/backup/
.mvn/timing.properties
.settings/
mvnw
mvnw.cmd
.mvn/
application.properties
/test
